<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.study2.gpsmap">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GpsMap">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <!--
TODO: 프로그램을 실행하기 전에 Google 지도 API 키가 필요합니다.

구입하려면 다음 지침을 따르십시오.

https://developers.google.com/maps/documentation/android-sdk/get-api-key

API 키("AIZA"로 시작)를 확보하면 에서 새 속성을 정의합니다.
프로젝트의 local.properties 파일(예: MAPS_API_KEY=Aiza...)을 교체하고
"당신의_이 파일의 "${MAPS_API_KEY}" 문자열입니다.
-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBMZ5UKTbGS4mjj_VsXjrMILSSmjttAsyk" />

        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>